/* Error: Module loop: this module is already being loaded.
 *   ,
 * 3 | @forward "common";
 *   | ^^^^^^^^^^^^^^^^^
 *   '
 *   index.scss 3:1   @use
 *   common.scss 5:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Module loop: this module is already being loaded.\a   \2577 \a 3 \2502  @forward "common";\d\a   \2502  ^^^^^^^^^^^^^^^^^\a   \2575 \a   index.scss 3:1   @use\a   common.scss 5:1  root stylesheet';
}
