@use "@/styles/index" as s;


.container {
  padding: 47px;
  @include s.flexbox(flex, column, center, center);
}

.nav {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 23px;
  gap: 5px;
  font-size: 14px;
  padding: 5px;
  width: 300px;

  .nav-item {
    position: relative;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #000;
    }
  }

  .active {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  grid-template-rows: repeat(4, 230px);
  gap: 16px;
  padding: 20px;
  justify-content: center;
  margin-top: 10px;

  div {
    border: none;
    border-radius: 32px;
    padding: 20px;
    box-shadow: transparent 0 0 0 2px inset;
    opacity: 1;
  }

  .profile {
    height: 100%;
    width: 100%;
    @include s.flexbox(flex, column, flex-start, center);
    padding: 36px 42px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    gap: 20px;

    p {
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0.5px;
      font-weight: 400;
    }

    div {
      @include s.flexbox(flex, row, flex-start, space-between);
      width: 100%;
      padding: 0;

      button {
        height: 40px;
        font-weight: 700;
      }

      button :hover {
        cursor: pointer;
      }
    }

  }

  .map {
    @include s.flexbox(flex, column, center, center);
    background-color: #98d0ff;
  }

  .star, .card, .article {
    @include s.flexbox(flex, column, flex-start, center);
    background-color: s.$color-white;
    gap: 10px;

    div {
      @include s.flexbox(flex, row, center, space-between);

      width: 100%;
      padding: 0;
    }
  }


  .example {
    @include s.flexbox(flex, column, center, center);
    height: 100vh;
    background-color: s.$color-white;

    a {
      margin-top: auto;
      margin-right: auto;
    }
  }

  .qna {
    @include s.flexbox(flex, column, center, center);
    background-color: s.$color-white;
  }

  .notice {
    @include s.flexbox(flex, column, center, center);
    background-color: s.$color-white;
  }

  .twitterIcon {
    @include s.flexbox(flex, column, center, center);
    margin-top: 80px;
  }

  .cards {
    background-color: #ffcc80;
  }

  .desc {
    background-color: #ffffff;

    div {
      @include s.flexbox(flex, row, center, center);
      gap: 30px;
    }

    section {
      @include s.flexbox(flex, column, center, center);
      background-color: #D9D9D9;
      width: 150px;
      height: 132px;
      gap: 15px;
      border-radius: 32px;
    }


  }

  .equalizer {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0;

    p {
      color: rgb(110, 210, 183);
      font-weight: 500;
      margin-right: auto;
    }
  }

  .bar {
    width: 4px;
    height: 12px;
    background-color: rgb(110, 210, 183);
    border-radius: 2px;
    animation: equalizerAnim 1s infinite ease-in-out alternate;
  }

  .bar:nth-child(1) {
    animation-delay: 0s;
  }

  .bar:nth-child(2) {
    animation-delay: 0.2s;
  }

  .bar:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes equalizerAnim {
    0% {
      height: 6px;
    }
    50% {
      height: 16px;
    }
    100% {
      height: 10px;
    }
  }

  .arrow {
    position: relative;
    background: rgb(255, 255, 255);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    @include s.flexbox(flex, column, center, center);
    transition: all 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid #b2bac2;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover::after {
      width: 120%;
      height: 120%;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .arrow:hover {
    cursor: pointer;
  }

  .spotifyBox {
    @include s.flexbox(flex, column, flex-end, ceter);
    gap: 4px;
    height: 40px;
    width: 40px;
  }

  .spotifyMusic {
    width: 6px;
    background-color: #1db954;
    animation: equalizer 1s infinite ease-in-out;
  }

  .spotifyMusic:nth-child(1) {
    animation-delay: 0s;
  }

  .spotifyMusic:nth-child(2) {
    animation-delay: 0.2s;
  }

  .spotifyMusic:nth-child(3) {
    animation-delay: 0.4s;
  }

  .wideCard {
    @include s.flexbox(flex, column, flex-start, space-between);
    background-color: #ffffff;
    gap: 20px;
    font-size: 17px;
    padding: 40px 44px;
  }

  .dropdwon {
    position: relative;
    display: inline-block;
  }

  .dropBtn {
    background-color: s.$color-white;
    color: s.$color-black;
    padding: 10px 16px;
    border: 1px solid #f0f2f8;
    cursor: pointer;
    width: 100%;
  }

  .content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: inherit;
    z-index: 1;
    text-align: center;
    border-radius: 0;
  }

  .content a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 3px;
    text-decoration: none;
    color: black;
  }

  .content a:hover {
    cursor: pointer;
  }

  .dropdown:hover .content {
    display: block;
  }

  .textBox {
    @include s.flexbox(flex, column, flex-start, space-between);
    gap: 17px;

  }

  .box {
    @include s.flexbox(flex, row, center, space-between);
    width: 100%;

    p {
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0.5px;
      font-weight: 400;
      color: #cccccc;
    }
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:checked + .slider:before {
    transform: translateX(20px);
  }

  .news {
    @include s.flexbox(flex, column, flex-start, space-between);
    padding: 40px;
    height: 100%;
    gap: 20px;
    background-color: #ffffff;

    p {
      width: 100%;
      border-bottom: 1px solid s.$color-black;
      padding-bottom: 10px;
    }
  }

  .subscribe, .darkMode, .counsel, .qna {
    background-color: #ffffff;
    font-size: 17px;
    padding: 40px;

    div {
      @include s.flexbox(flex, column, flex-start, space-between);
      width: 100%;
      padding: 0;
      gap: 13px;
    }


    p {
      font-size: 15px;
      font-weight: 400;
      color: rgb(13, 17, 23);
    }

    a {
      margin-left: auto;
      margin-top: auto;
    }

    input {
      border: none;
      border-bottom: 2px solid #cccccc;
      width: 100%;
      padding: 13px;
    }

    input::placeholder {
      color: #cccccc;
      font-size: 17px;
    }

    aside {
      @include s.flexbox(flex, row, center, space-between);
      margin-top: 15px;

      p {
        padding-left: 100px;
      }
    }

    .counsel {
      @include s.flexbox(flex, column, flex-start, space-between);
      background-color: #ffffff;
    }
  }
}
